@import 'styles/_mixins';
@import 'styles/_variables'; //TODO import globally

.home {
  h1 {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid gray;
    width: 50%;
    margin: 0 auto;
    color: $primary;

    @include media-breakpoint-down(sm) {
      width: 70%;
    }

    @include media-breakpoint-down(xs) {
      width: 95%;
      line-height: 50px;
    }
  }

  .search {
    display: inline-block;
  }

  .results-container {
    margin-top: 24px;
    @include _container-grid(16px, 16px);
  }
}
