.main-content {
  text-align: center;
  min-height: 90vh;
  padding: 0 16px 16px 16px;
}

.ui.card {
  width: auto !important;
  overflow: hidden;
}

.ui.button {
  &:hover {
    background-color: #94949e1f!important;
  }
}